body {
  background-color: azure;
}

#td {
  position: absolute;
  font-size: 250px;
  opacity: 0.4;
  margin-top: 2rem;
  margin-left: 30rem;
  color: rgb(249, 175, 249);
}

#items {
  position: absolute;
  background-color: white;
  border-radius: 1rem;
  padding-left: 4rem;
  box-sizing: border-box;
  box-shadow: 50rem black;
  margin-top: 9rem;
}

.check {
  margin-top: 2rem;
  margin-left: -1rem;
}

#title {
  text-align: center;
  width: 30vw;
  font-size: 24px;
  padding: 0.3rem 0;
  margin-top: 6rem;
  opacity: 0.7;
  border-radius: 50px;
}

#data {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 20rem;
  margin-left: 33rem;
  font-size: 24px;
  line-height: 32px;
}

hr {
  width: 100%;
  margin-left: -2rem;
}

#dot {
  margin-left: 25rem;
  margin-top: -1rem;
}

.fa-trash-alt {
  margin-left: 22rem;
  margin-top: -1rem;
  color: rgb(255, 77, 0);
}

#dot hr {
  display: flex;
  flex-direction: column;
  width: 0.1rem;
  margin-top: -0.6rem;
  height: 2px;
  background-color: rgb(132, 135, 138);
}

.inst {
  position: absolute;
  display: flex;
  margin-top: 20rem;
  margin-left: 40rem;
  width: 15vw;
  opacity: 0.7;
  font-size: 17px;
  font-weight: bolder;
  color: #e25ef9;
}
